A6.xoj
H5.nb
H5.xoj
physik421-04-Martin.aux
physik421-04-Martin.bbl
physik421-04-Martin.blg
physik421-04-Martin.fdb_latexmk
physik421-04-Martin.fls
physik421-04-Martin.log
physik421-04-Martin.out
physik421-04-Martin.pdf
Hermite.pdf
