A12.xoj
A12.xoj.pdf
H12.xoj
H13.xoj
physik421-08-Aufgaben.pdf
physik421-08-Martin.aux
physik421-08-Martin.fdb_latexmk
physik421-08-Martin.fls
physik421-08-Martin.log
physik421-08-Martin.out
physik421-08-Martin.pdf
