Uebung_01/H1-a.xoj.pdf
Uebung_01/H1-b.xoj.pdf
Uebung_01/H1-c.xoj.pdf
Uebung_01/H1-e.xoj.pdf
Uebung_01/physik421-01-Martin.aux
Uebung_01/physik421-01-Martin.fdb_latexmk
Uebung_01/physik421-01-Martin.fls
Uebung_01/physik421-01-Martin.log
Uebung_01/physik421-01-Martin.out
Uebung_01/physik421-01-Martin.pdf
Uebung_02/A3.xoj.pdf
Uebung_02/H2.xoj.pdf
Uebung_02/H3.xoj.pdf
Uebung_02/physik421-02-Martin.aux
Uebung_02/physik421-02-Martin.fdb_latexmk
Uebung_02/physik421-02-Martin.fls
Uebung_02/physik421-02-Martin.log
Uebung_02/physik421-02-Martin.out
Uebung_02/physik421-02-Martin.pdf
Uebung_03/H4.xoj.pdf
Uebung_03/H4f.xoj.pdf
Uebung_03/physik421-03-Martin.aux
Uebung_03/physik421-03-Martin.fdb_latexmk
Uebung_03/physik421-03-Martin.fls
Uebung_03/physik421-03-Martin.log
Uebung_03/physik421-03-Martin.out
Uebung_03/physik421-03-Martin.pdf
Uebung_04/A6.xoj.pdf
Uebung_04/H5.xoj.pdf
Uebung_04/physik421-04-Martin.aux
Uebung_04/physik421-04-Martin.fdb_latexmk
Uebung_04/physik421-04-Martin.fls
Uebung_04/physik421-04-Martin.log
Uebung_04/physik421-04-Martin.out
Uebung_04/physik421-04-Martin.pdf
Uebung_05/H6.xoj.pdf
Uebung_05/H7.xoj.pdf
Uebung_05/physik421-05-Martin.aux
Uebung_05/physik421-05-Martin.fdb_latexmk
Uebung_05/physik421-05-Martin.fls
Uebung_05/physik421-05-Martin.log
Uebung_05/physik421-05-Martin.out
Uebung_05/physik421-05-Martin.pdf
Uebung_06/A9.xoj.pdf
Uebung_06/H8.xoj.pdf
Uebung_06/H9.xoj.pdf
Uebung_06/physik421-06-Martin.aux
Uebung_06/physik421-06-Martin.fdb_latexmk
Uebung_06/physik421-06-Martin.fls
Uebung_06/physik421-06-Martin.log
Uebung_06/physik421-06-Martin.out
Uebung_06/physik421-06-Martin.pdf
Uebung_07/A11.xoj.pdf
Uebung_07/H10.xoj.pdf
Uebung_07/H11.xoj.pdf
Uebung_07/physik421-07-Martin.aux
Uebung_07/physik421-07-Martin.fdb_latexmk
Uebung_07/physik421-07-Martin.fls
Uebung_07/physik421-07-Martin.log
Uebung_07/physik421-07-Martin.out
Uebung_07/physik421-07-Martin.pdf
Uebung_08/A12.xoj.pdf
Uebung_08/H12.xoj.pdf
Uebung_08/H13.xoj.pdf
Uebung_08/physik421-08-Martin.aux
Uebung_08/physik421-08-Martin.fdb_latexmk
Uebung_08/physik421-08-Martin.fls
Uebung_08/physik421-08-Martin.log
Uebung_08/physik421-08-Martin.out
Uebung_08/physik421-08-Martin.pdf
Uebung_09/A13.xoj.pdf
Uebung_09/A14.xoj.pdf
Uebung_09/H14.xoj.pdf
Uebung_09/H14c.pdf
Uebung_09/H14c.xoj.pdf
Uebung_09/H15.xoj.pdf
Uebung_09/physik421-09-Martin.aux
Uebung_09/physik421-09-Martin.fdb_latexmk
Uebung_09/physik421-09-Martin.fls
Uebung_09/physik421-09-Martin.log
Uebung_09/physik421-09-Martin.out
Uebung_09/physik421-09-Martin.pdf
Uebung_10/A15.xoj.pdf
Uebung_10/H16.xoj.pdf
Uebung_10/H17.xoj.pdf
Uebung_10/physik421-10-Martin.aux
Uebung_10/physik421-10-Martin.fdb_latexmk
Uebung_10/physik421-10-Martin.fls
Uebung_10/physik421-10-Martin.log
Uebung_10/physik421-10-Martin.out
Uebung_10/physik421-10-Martin.pdf
Uebung_11/A16.xoj.pdf
Uebung_11/A17.xoj.pdf
Uebung_11/H18.xoj.pdf
Uebung_11/physik421-11-Martin.aux
Uebung_11/physik421-11-Martin.fdb_latexmk
Uebung_11/physik421-11-Martin.fls
Uebung_11/physik421-11-Martin.log
Uebung_11/physik421-11-Martin.out
Uebung_11/physik421-11-Martin.pdf
Uebung_12/A18.xoj.pdf
Uebung_12/H19.xoj.pdf
